h2{
    text-align: center;
}

.features{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width:500px){
    .features{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-left: 1rem;
    }
}
